[Desktop Entry]
Encoding=UTF-8
Name=Netrek
Exec=netrek-client-cow
Icon=netrek.png
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;Game;StrategyGame;
